<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID"
	version="3.1">
	<display-name>HSFJ_Ch14_PatternsAndStruts</display-name>

	<!-- Define the controller Servlet -->
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

		<!-- Name the struts configuration file -->
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		
		<!-- Guarantee that this servlet is loaded on startup -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- The Struts controller mapping -->
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>